.center_div{
  width:100%;
  font-family: "Yeseva One";
  
}
.h3style{
  width: 600px;
  font-size: 80px;
  color:rgb(7, 7, 37);
  font-weight: bold;
  text-shadow: 2px 2px rgb(66, 66, 66);

}
.p1style{
  margin-right: 150px;
  width:600px;
  height: 70px;
  font-size: 20px;
  margin-bottom: 30px;
color: #919191;

}

 
  
  .pic {    
    box-shadow: -10px 5px 1px rgba(15, 53, 84, 1);
    width: 450px;
    height: 150%;
  }
  


.customButtonColor {
  height: 50px;
  background-color:  rgba(15,53,84,1) !important; 
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  margin-right: 30px;
  color: white;
  text-shadow: 2px 2px rgb(70, 69, 69);

}

.buttons{
  margin-top: 40px;

}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr_style{
  border: 10px;
}


.hr_style {
  border: none; 
  height: 2px; 
  background-color: #000; 
  display: block; 
  width: 50%;
}
.section2{
  font-family: "Yeseva One";
}
.h4_style{
  margin-top: 90px;
font-size: 40px;
  text-align: center;
  color:rgb(13, 13, 59);
  font-weight: bold;
}
.p2style{
  text-align: center;
  font-size: 20px;
color: #919191;
margin-bottom: 50px;

}
.companies_section {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin:  50px; 
}

.companies_info {
  border: #d3d1d1 solid 2px;
  border-radius: 30px;
  box-shadow: rgba(8, 34, 46, 0.12) 0px 2px 4px 0px, rgba(8, 34, 46, 0.12) 0px 2px 16px 0px;
}
.companies_info .customButtonColor{
height: 40px;
margin-bottom:  10px;
}
.companies_name{
  margin-top: 30px;
  font-weight: bold;
font-size: 25px;
color:rgb(13, 13, 59);

}

@media screen and (max-width: 640px) {
  .companies_section {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .center_div {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }

  .h3style {
    text-align: center;
    width: 90%;

    font-size: 35px;
  }

  .p1style {
    margin-right: 0;
    width: 90%;
  }

 

  .pic-container {
    text-align: center;
  }

  .pic {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .section2 {
    margin-top: 50px;
  }

  .grid-container {
    margin: 20px 0;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .companies_info {
    margin: 0 10px;
  }

  .companies_name {
    margin-top: 20px;
    font-size: 20px;
  }

  .customButtonColor {
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.custom-navbar {
  background-color:  rgba(15,53,84,1) !important; 

}

.custom-button {
  margin-left: 10px;
  border-color: white;
  color: white;
  border-color:#cbb26b ;
}



.custom-button:hover {
  background-color: #cbb26b;
}
.Page{
  color: rgba(15,53,84,1) !important;
}

.pagination {
  background-color: rgba(15,53,84,1);
  color:  rgba(15,53,84,1);
  text-align: center;
  display: flex !important;
  justify-content: center !important;
 margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.page-link {
  color: rgba(15,53,84,1);
}

.page-item.disabled .page-link {
  color:  rgba(15,53,84,1); 
  
}
.page-item{margin-top: 10px;
  margin-bottom: 10px;}
  @media screen and (max-width: 1200px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .center_div {
      width: 90%;
      text-align: center;
      margin-bottom: 20px;
    }
  
  
    
  
    .pic-container {
      text-align: center;
    }
  
    .pic {
      width: 90%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  
    .section2 {
      margin-top: 50px;
    }
  
    .grid-container {
      margin: 20px 0;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  
    .companies_info {
      margin: 0 10px;
    }
  
    .companies_name {
      margin-top: 20px;
      font-size: 20px;
    }
  
    .customButtonColor {
      height: 40px;
      margin-bottom: 10px;
      font-size: 12px;
    }
      .h3style {
      text-align: left;
      width: 100%;
      font-size: 90px;
    }
  
    .p1style {
      font-size: 30px;
      width: 100%;
      
    }
  
    .h4_style{
      margin-top: 90px;
font-size: 60px;
  text-align: center;
  color:rgb(13, 13, 59);
  font-weight: bold;

    }
  .p2style{
    text-align: center;
    font-size: 30px;
  color: #919191;
  margin-bottom: 50px;
  }
  }
  
  @media screen and (max-width: 1669px) {
    .container {
      flex-direction: row;
      align-items: center;
    }
  
    .center_div {
      width: 80%;
      text-align: left;
      margin-bottom: 20px;
    }
  
    .h3style {
      text-align: left;
      width: 100%;
      font-size: 90px;
    }
  
    .p1style {
      font-size: 30px;
      width: 100%;
      
    }
  
    .h4_style{
      margin-top: 90px;
font-size: 60px;
  text-align: center;
  color:rgb(13, 13, 59);
  font-weight: bold;

    }
    .p2style{
      text-align: center;
      font-size: 30px;
    color: #919191;
    margin-bottom: 50px;
    
    }
    .pic-container {
      text-align: left;
    }
  
    .pic {
      width: 80%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  
    .section2 {
      margin-top: 60px;
    }
  
    .grid-container {
      margin: 30px 0;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  
    .companies_info {
      margin: 0 20px;
    }
  
    .companies_name {
      margin-top: 25px;
      font-size: 23px;
    }
  
    .customButtonColor {
      height: 45px;
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
  