.container-fluid {
    background-color: #0f3554;
}


.text {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 70px;
    color: #0f3554;
}

.line {
    border-style: double;
    border-color: #175d96;
    border-width: 2px;
}



.info {
    text-align: center;
}

.phone,
.e-mail {

    padding: 10px;
    font-size: 40px;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 4rem;
    display: inline-block;
    color: #0f3554;

}



.phone i:hover {

    color: #175d96;
}

.e-mail i:hover {

    color: #175d96;

}

@media only screen and (max-width: 600px) {
    .image-logo {
        width: 40px;
        height: 40px;
    }

    .text {
        font-size: 2.2rem;
    }

    .phon,
    .e-mail {
        margin-top: 1rem;
        font-size: 2rem;
    }
}